{% extends 'layout.html' %}
{% block body_content %}

<div class="form-group">
        
	<form method='POST' action="">
                
		{{ form.hidden_tag() }}
                
		{{ form.track_name.label }}
                {{ form.track_name }}
                
		{% if form.track_name.errors %}
                        <div class="error">
				
                                {% for error in form.track_name.errors %}
                                       
					<span>{{ error }}</span>
                                {% endfor %}
                        </div>
                {% endif %}
                <br>
                {{ form.length.label }}
                {{ form.length }}
                {% if form.length.errors %}
                        <div class="error">
                                {% for error in form.length.errors %}
                                        <span>{{ error }}</span>
                                {% endfor %}
                        </div>
                i{% endif %}
                <br>
		{{ form.genre.label }}
                {{ form.genre }}
                {% if form.genre.errors %}
                        <div class="error">
                                {% for error in form.genre.errors %}
                                        <span>{{ error }}</span>
                                {% endfor %}
                        </div>
                i{% endif %}
                <br>
		{{ form.track_artist.label }}
                {{ form.track_artist }}
                {% if form.track_artist.errors %}
                        <div class="error">
                                {% for error in form.track_artist.errors %}
                                        <span>{{ error }}</span>
                                {% endfor %}
                        </div>
                i{% endif %}
                <br>

		{{ form.submit }}
        </form>
{% endblock %}
